<div class="filtros">
  
  <label>
    <input 
    type="text" 
    placeholder="Buscar por nombre" 
    [(ngModel)]="searchTitle" 
    (input)="applyFilters()"
  >
  </label>
  <input 
    type="date" 
    [(ngModel)]="searchDate" 
    (change)="applyFilters()"
  >
</div>
<router-outlet></router-outlet>
<!-- En galeria.component.html -->
<div class="galeria" >
  <br>
  <div class="fila" *ngFor="let group of groupPhotos(filteredPhotos, 3)" class="gallery">
    <div class="foto-container" *ngFor="let photo of group" class="gallery__link">
      <img [src]="photo.url" alt="Foto"  >
    
    <div class="gallery__caption">
      <p class="titulo" >{{ photo.title }}</p>
      <p class="fecha">{{ photo.createdAt | date:'short' }}</p>
    </div>    
    </div>
  </div>
</div>

